.cafessection {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "cafe-header cafe-header"
    "filters main";

  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;

  background-color: #f4e8d8;
  color: beige;
}

.cafe-header {
  grid-area: cafe-header;
  background-color: rgb(101, 101, 225);
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.filters {
  grid-area: filters;
  background-color: #f4e8d8;
  padding: 30px;
  box-sizing: border-box;
  color: black;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  text-align: left;
}

.filters-title {
  text-align: center;
}

.main {
  grid-area: main;
  background-color: #f4e8d8;
  padding: 30px;
  box-sizing: border-box;
  color: black;
  gap: 30px;
}
