.herosection {
  display: flex;
  position: relative;
  width: 100vw;
  height: 30vh;
  padding: 40px;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-image: url(../assets/herobg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: beige;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.hero-description {
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
  text-align: right;
}

.search-title {
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 250px;
}
