.ownerpagesection {
  display: grid;
  grid-template-areas:
    "row-one"
    "row-two"
    "row-three";

  grid-template-rows: 30vh 70vh auto; /* row 1 + row 2 = 100vh */

  background-color: rgb(255, 255, 255);
  min-height: 140vh;
}

.ops-row-one {
  grid-area: row-one;
  margin-top: 80px;
}

.ops-row-two {
  grid-area: row-two;
  padding: 0px 10px;

  display: flex;
  flex-direction: row;
}

.linegraph {
  width: 40%;
  padding: 20px;
}

.totalcustomers {
  width: 40%;
  padding: 20px;
}

.ops-reviews {
  width: 30%;
  padding: 20px;
}

.ops-row-three {
  grid-area: row-three;
  background-color: rgb(112, 79, 79);

  display: flex;
  flex-direction: row;
}

.seat-adjustment {
  width: 20%;
  background-color: rgb(182, 136, 136);
}

.seat-adjustment {
  width: 20%;
  background-color: rgb(182, 136, 136);
}
