.ownerpagesection {
  display: grid;
  grid-template-areas:
    "hdr"
    "row-one"
    "row-two"
    "row-three";

  grid-template-rows: 80px 25vh 75vh auto; /* row 1 + row 2 = 100vh */

  background-color: #fff7ee;
  min-height: 140vh;
}

.ops-header {
  grid-area: hdr;
  height: 80px;
  background-color: black;
}

.ops-row-one {
  grid-area: row-one;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #5d4e37;

  background: linear-gradient(135deg, #fff5e6 0%, #ffe8cc 100%);
  padding: 30px 40px;
  border-bottom: 3px solid #d4a574;
}

.ops-row-two {
  grid-area: row-two;
  padding: 0px 10px;

  display: flex;
  flex-direction: row;
}

.linegraph {
  width: 40%;
  padding: 20px;
}

.totalcustomers {
  width: 40%;
  padding: 20px;
}

.ops-reviews {
  width: 30%;
  padding: 20px;
}

.ops-row-three {
  grid-area: row-three;
  height: 100vh;
  padding: 0px 10px;

  display: flex;
  flex-direction: row;
}

.table-history {
  width: 72.7%;
  padding: 20px;
}

.comments-history {
  width: 27.3%;
  padding: 20px;
}
