.page-cafe {
  display: grid;
  grid-template-rows: 1fr 4fr 6fr;
  grid-template-areas:
    "empty"
    "picture"
    "content";

  background-color: rgb(255, 255, 255);
}

.picture-section {
  grid-area: picture;
  background-color: rgb(190, 142, 78);
  padding: 20px 350px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pic-left pic-top"
    "pic-left pic-bottom";
  gap: 20px;
}

.pic-left {
  grid-area: pic-left;
  background-color: rgb(184, 206, 199);
  border-radius: 30px;
}

.pic-top {
  grid-area: pic-top;
  background-color: rgb(184, 206, 199);
  border-radius: 30px;
}

.pic-bottom {
  grid-area: pic-bottom;
  background-color: rgb(184, 206, 199);
  border-radius: 30px;
}

.cafe-details {
  grid-area: content;
  background-color: azure;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "title title"
    "left right";

  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0rem 10rem;
  box-sizing: border-box;

  background-color: #f4e8d8;
  color: beige;
}

.title-box {
  grid-area: title;
  background-color: palegoldenrod;
  padding: 20px;
}

.left-box {
  grid-area: left;
  background-color: burlywood;
  padding: 20px;
}

.right-box {
  grid-area: right;
  background-color: rgb(94, 70, 38);
  padding: 20px;
}
