.searchsection {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 4rem;
  width: 100vw;
  height: 12vh;

  justify-content: left;
  align-items: center;
  text-align: center;

  background-color: #5c3505;
  background-image: url("../assets/dark-wood.png");
  background-repeat: repeat;
  background-size: 120px;

  color: beige;
}
